body {
    padding: 1.5em;
    background: #F2F0F7;
}

.menu {
    position: relative
}

.position-absolute {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


.background {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    position: fixed;
    margin: -1.5rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-fluid {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 20px;
}

.container-flex {
    position: relative; 
    display: inline-block;
    width: 100%;
    height: 100%;
}

.list-group-item {
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: large;
}

.navbar {
    width: 95%;
    justify-content: center;
    font-size: 1.2rem;
}

.navbar > #back {
    position: absolute;
    left: 0
}

.navbar-brand {
    color: rgb(90, 90, 90);
    font-size: 1.3rem;
}

nav> .bi {
    color: rgb(90, 90, 90);
}

.card {
    margin-bottom: 20px;
    border-radius: 20px;
    height: 15rem;
    border: transparent;
    background-color: transparent;
    width: 100%;
    padding: 5px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.card:hover.a-for-card {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.card:hover {
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.card:hover > .card-img-overlay > .card-title {
    text-shadow: 2px 5px 10px #0000007c;
    transition-duration: 0.3s;
    -webkit-transition-property: text-shadow;
    transition-property: text-shadow;
}

.card:hover > .image-icons {
    text-shadow: -10px -4px 10px #0000003a;
    transition-duration: 0.3s;
    -webkit-transition-property: text-shadow;
    transition-property: text-shadow;
}

.card:hover > .card-title {
    text-shadow: 0px 2px 10px #00000081;
    transition-duration: 0.3s;
    -webkit-transition-property: text-shadow;
    transition-property: text-shadow;
}

a:hover > .card > .card-img-overlay > .card-title {
    text-shadow: 0px 0px 15px #ffffff81;
}

.menù > .position-absolute > .container > .row > .col {
    transition: width 0.3s ease-in-out;
}

.card-img {
    height: 15rem;
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 20px;
    border: transparent;
}

hr {
    border: none;
    background-color: #000000;
    opacity: 0.7;
}

.list-button {
    width: 30%;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
}

.list-group {
    border-radius: 20px;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 90%;
    width: 100%;
    transition: left 0.3s ease-in-out;
}

#alfabeto2, #category2 {
    transition: opacity 0.3s ease-in-out;
}

#legenda {
    font-size: 1.2rem;
}

.square-gradient {
    display: inline-block;
    width: 1em;
    height: 1em;
    transform: translateY(-5%);
}

.directions {
    width: 100%;
}

#directions-text {
    color: black;
}

p {
    color: black;
}

.card-title {
    font-size: 3.5vw;
}

.home {
    width: 100%;
    height: 90%;
}

.card-img-overlay > .card-title {
    font-size: 4.8vw;
}

.image-icons {
    font-size: 12vw;
    margin-top: 40%;
    margin-left: 70%;
    transform: rotate(35deg);
}

.menù > .navbar-expand-md > .navbar {
    margin: 0;
    width: 100%;
    border-radius: 0px 0px 30px 30px;
}

.menù > .navbar-expand-md > .navbar h1 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: calc(1rem + 1.5vw);
}

.grid {
    display: flex;
    flex-wrap: wrap;

    /* display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    margin: 0 0 1rem 0; */
}

.grid > div {
    flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
}

.directions-text-h2 {
    text-decoration: none;
}

iframe {
    width: 100%; 
    height: 90%;
}

.navbar-expand-md.navigation {
    background-color: #F6F6F6;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.5);
    height: 3.3rem;
}

.list-group-item {
    margin-bottom: 1rem;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.list-group-item:hover {
    box-shadow: 0 10px 20px -10px rgba(87, 87, 87, 0.5);
    color: black;
    text-shadow: 2px 5px 10px #0000007c;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.table {
    overflow-x: scroll;
    overflow-y: visible;
}

.events-images {
    margin-bottom: 2rem;
}

.events-images > .table > img {
    height: 40rem;
}

.events-images > .d-flex > .float-start {
    position: absolute;
    margin: auto;
}

.events-images > .d-flex > .float-end {
    margin-left: 12rem;
}

.fixed-bottom {
    left: inherit;
    right: 1rem;
    bottom: 1rem;
    border-radius: 100px;
}

.legenda {
    font-size: 3rem;
}

@media only screen and (max-width: 500px) {
    .card-img-overlay > .card-title {
        font-size: 7vw;
    }

    .grid {
        display: block;
    }
}

@media only screen and (min-width: 600px) {

    .flex {
        display: flex;
        flex: 50%;
    }

    #directions {
        position: fixed;
        left: 75%;
        text-shadow: 2px 5px 10px #0000007c;
    }

    #category2 {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }

    #category2 > hr {
        display: none;
    }

    #category2 > #group {
        flex: 50%;
        justify-content: space-between;
    }
    
}