body {
    padding: 1.5em;
    background: #161616;
}

.menu {
    position: relative
}

.position-absolute {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.background {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-fluid {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 20px;
}

.container-flex {
    position: relative; 
    display: inline-block;
    width: 100%;
    height: 100%;
}

.box {
    height: 100%;
    position: absolute;
    left: 0%;
}

.list-group-item:first-child {
    border-top-right-radius: 30px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 30px;
}

.list-group-item {
    text-align: center;
    padding: 12px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: large;
}

.landing-page {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.navbar {
    width: 95%;
    margin-top: 20px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.navbar-brand {
    position: absolute;
    top: 90%;
    left: 50%;
    margin: -35px 0 0 -35px;
}

.card {
    margin-bottom: 20px;
    border-radius: 20px;
    height: 40%;
    border: transparent;
    background-color: transparent;
    width: 100%;
    padding: 5px;
}

.menù > .position-absolute > .container > .row > .col {
    transition: width 0.3s ease-in-out;
}

.card-img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 20px;
    border: transparent;
}

.text-white {
    text-shadow: black;
}

.navbar-expand-md {
    background-color: #161616;
}

hr {
    background-color: #eee;
    color: #eee;
    height: 10px;
    opacity: 0.7;
}

.list-button {
    width: 30%;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
}

.list-group {
    border-radius: 30px;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 87%;
}

.list-group .position-absolute:first-child {
    border-top-left-radius: 30px;
}

.list-group .position-absolute:last-child {
    border-bottom-left-radius: 30px;
}

#alfabeto2, #category2 {
    transition: opacity 0.3s ease-in-out;
}

.pano-image {
    width: 100%;
    height: 100%;
}


.square-gradient {
    display: inline-block;
    width: 1em;
    height: 1em;
    transform: translateY(-5%);
}

.directions {
    width: 100%;
}

#directions-text {
    color: white;
}

.pin {
    position: absolute;
    margin-top: -10px;
}

p {
    color: white;
}

.card-title {
    font-size: 3.5vw;
    text-shadow: 0px 2px 10px #00000081;
}

.home {
    width: 100%;
    height: 90%;
}

.card-img-overlay > .card-title {
    font-size: 4.8vw;
}

.image-icons {
    font-size: 12vw;
    margin-top: 40%;
    margin-left: 70%;
    transform: rotate(35deg);
    text-shadow: -10px -4px 10px #0000003a;
}

.menù > .navbar-expand-md > .navbar {
    margin: 0;
    width: 100%;
    border-radius: 0px 0px 30px 30px;
}

.menù > .navbar-expand-md > .navbar h1 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: calc(1rem + 1.5vw);
}

.grid {
    display: flex;
    flex-wrap: wrap;

    /* display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    margin: 0 0 1rem 0; */
}

.grid > a {
    flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
}

@media only screen and (min-width: 600px) {
    #category2 {
        display: flex;
        flex-wrap: wrap;
    }

    #category2 > hr {
        display: none;
    }

    #category2 > * {
        flex: 50%;
    }

    .list-group {
        height: 100%;
    }
    
  }